<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Envy</string>
	<key>CFBundleDisplayName</key>
	<string>Envy</string>
	<key>CFBundleIdentifier</key>
	<string>com.skylerschoos.envy</string>
	<key>CFBundleVersion</key>
	<string>1.1.8</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.8</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>Envy</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© 2026 Skyler Schoos</string>
	<key>SUFeedURL</key>
	<string>https://envynote.app/assets/updates/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>jdhL5MEnBaTkKVj4eO2nZLk+jQlGd35pC4fGGJsJdmY=</string>
</dict>
</plist>
